@import url(https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro);@import url(https://fonts.googleapis.com/css?family=Montserrat);header {
  background: url(/assets/images/overlay.png?7bab9c1595a87f51c1c6df8d36aae50c);
  background-color: #1c8162;
  border-bottom: 1px solid #055b50;
}

header nav #site {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav #site h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  margin-left: 12px;
  font-size: 1.2em;
}

header nav #site .logo {
  height: 80px;
  width: 80px;
  background-image: url(/assets/images/logo.png?4c69ed08fd59815862b29c95dbde2940);
  background-size: contain;
  background-repeat: no-repeat;
}

.segment {
  padding-top: 125px;
  padding-bottom: 125px;
}

.segment .container > :first-child {
  margin-right: 35px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.segment .container > :last-child {
  margin-left: 35px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.segment section h3 {
  font-size: 2em;
  font-weight: 700;
}

.segment section p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
}

.segment.checkered:nth-child(even) {
  background-color: #F1F9FF;
}

footer #contact-preview {
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
  border-bottom: 1px solid #dbd8d3;
  border-top: 1px solid #f5f5f5;
  background-image: url(/assets/images/tree-bark.png?da2193c0a8f3f10e286f04458b85c48a);
}

footer #foot-nav .container,
footer #foot-end .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #foot-nav .container > *,
footer #foot-end .container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer #foot-nav {
  color: white;
  padding-top: 45px;
  padding-bottom: 45px;
  border-bottom: 1px solid #176954;
  background-image: url(/assets/images/overlay.png?7bab9c1595a87f51c1c6df8d36aae50c);
  background-color: #1f8064;
}

footer #foot-end {
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: url(/assets/images/overlay.png?7bab9c1595a87f51c1c6df8d36aae50c);
  background-color: #1e715c;
}

footer #foot-end .social {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navigation {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0;
}

.navigation .nav-link.active {
  color: white;
  background-color: #055b50;
  background-image: url(/assets/images/overlay.png);
}

.navigation .nav-link.active:hover {
  background-color: #04433b;
  color: white;
  background-image: url(/assets/images/overlay.png);
}

.navigation li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navigation li a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  line-height: 80px;
  display: block;
  text-decoration: none;
}

.navigation li a:hover {
  color: white;
  background-color: #055b50;
  background-image: url(/assets/images/overlay.png);
}

form {
  font-weight: bold;
}

form input {
  line-height: 1.6;
  font-family: "Montserrat",sans-serif;
}

form input,
form select,
form textarea {
  line-height: 35px;
  padding: 8px 20px;
  border: 1px solid #bfbab1;
  text-transform: capitalize;
  font-size: 16px !important;
}

form label {
  margin-bottom: 8px;
}

form .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form .row > .group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

form .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social a {
  color: white;
}

.social .icon {
  font-size: 2em;
  margin-right: 15px;
}

.social .icon:last-child {
  margin-right: 0;
}

.social .icon.facebook a:hover {
  color: #3c5a99;
}

.social .icon.youtube a:hover {
  color: #d12121;
}

.social .icon.twitter a:hover {
  color: #28aae1;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
  font-weight: bold;
}

h3 {
  font-size: 2em;
  font-weight: 700;
}

body {
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

.button-outline {
  border: 2px solid black;
  background-color: transparent;
  padding: 0 30px;
  margin-top: 35px;
  font-size: 1em;
}

.button-filled {
  border: 2px solid black;
  background-color: black;
  color: white;
  padding: 0 30px;
  margin-top: 35px;
  font-size: 1em;
}

a.button-outline,
button {
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  line-height: 50px;
  display: inline-block;
  text-decoration: none;
  color: black;
  -webkit-transition: color 190ms linear, background-color 60ms cubic-bezier(0, 0, 0, 1.23), fill 60ms linear, 60ms opacity linear;
  transition: color 190ms linear, background-color 60ms cubic-bezier(0, 0, 0, 1.23), fill 60ms linear, 60ms opacity linear;
}

a.button-outline:hover,
button.button-outline:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

a.button-filled:hover,
button.button-filled:hover {
  opacity: 0.8;
  cursor: pointer;
}

#landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50vh;
  background: url(/assets/images/landing.jpg?58085de0a1e21b449e2796b5c96e1a32);
  background-color: white;
  background-size: cover;
}

#landing .container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#landing .container #landing-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 !important;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
}

#landing .container #landing-text h2 {
  margin: 0;
  font-size: 3.4em;
}

#landing .container #landing-text .social {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#landing .container #landing-text > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#about-preview aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

#gallery-preview .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#gallery-preview .image-container .image {
  margin: 10px;
  -ms-flex-preferred-size: 29%;
      flex-basis: 29%;
}

#gallery-preview .image-container .image img {
  width: 100%;
  height: 100%;
}

#gallery .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#gallery .image-container .image {
  margin: 10px;
  -ms-flex-preferred-size: 18.2%;
      flex-basis: 18.2%;
}

#gallery .image-container .image img {
  width: 100%;
  height: 100%;
}

#events-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#events-preview .event {
  padding: 10px 30px;
  background-color: #F1F9FF;
  margin-bottom: 5px;
}

#events-preview .event:last-child {
  margin-bottom: 0;
}

.segment#contact p {
  margin-bottom: 50px;
}

.segment#news article {
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 3px;
  background-color: #F1F9FF;
}

.segment#events .events-container .event {
  margin-bottom: 25px;
  background-color: #f7f7f7;
}

.segment#events .events-container .event img {
  width: 100%;
  max-height: 250px;
}

.segment#events .events-container .event .text {
  padding: 10px 20px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

aside,
section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body {
  margin: 0;
}

.text-center {
  text-align: center;
}

.image,
.event,
article {
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
}

.image:hover,
.event:hover,
article:hover {
  -webkit-box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.7);
          box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

