@import url(https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro);@import url(https://fonts.googleapis.com/css?family=Montserrat);header {
  background: url(/images/overlay.png?7bab9c1595a87f51c1c6df8d36aae50c);
  background-color: #AA9580;
  border-bottom: 1px solid black;
}

header nav #site {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav #site h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #28180B;
  margin-left: 12px;
}

header nav .navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0;
}

header nav .navigation li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header nav .navigation li a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #28180B;
  line-height: 60px;
  display: block;
  margin: 0 10px;
  text-decoration: none;
}

header nav .navigation li a:hover {
  color: white;
  background-color: #4C3726;
}

.segment section h3 {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

.segment section p {
  font-size: 14px;
  font-family: 'Montserrat-light', sans-serif;
}

#gallery #gallery-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#gallery #gallery-preview .image {
  -ms-flex-preferred-size: 33.333333%;
      flex-basis: 33.333333%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

aside,
section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body {
  margin: 0;
}

